<html>
<head>
</head>
<body>
<h1>Unified Copy Paste</h1>
<div>
  <p><b>Current contents</b>: {{clipboard}}</p>
  <p><input type="text" id="change_clipboard"></p>
  <p id="status"></p>
</div>

<script>
  function change_clipboard(event) {      
      var new_content = document.getElementById("change_clipboard").value;
      var data = { text: new_content }
      var statusText = document.getElementById("status");

      fetch("/api/set_clipboard", {
	  headers: { "Content-Type": "application/json",
		     'Access-Control-Allow-Origin': 'http://localhost:8000/' },
	  body: JSON.stringify(data),
	  method: "POST"
      }).then(function() {
	  statusText.style.display = 'block';
	  statusText.innerText = "Clipboard successfully changed!";
	  setTimeout(function() {
	      statusText.style.display = 'none';
	  }, 2000);
      }).catch(function(error) {		
	  statusText.innerText = error;
	  var elem = document.getElementById("change_clipboard");
	  elem.disabled = true;                  
      });           
  }
  
  document.getElementById("change_clipboard").addEventListener("change", change_clipboard);  
</script>
</body>
</html>
