<html>
<head>
<title>Unified Copy Paste</title>
<link rel="stylesheet" type="text/css" href="res/style.css"/>
</head>
<body>
<h1>Unified Copy Paste</h1>
<div>
{% for hostname, contents in clipboards %}
<h2 class="hostname-title">{{hostname}}</h2>
<p id="{{hostname}}" hidden="true" class="clipboard-contents">{{contents}}</p>
{% endfor %}
</div>
<p>
<label for="change_clipboard">Change server clipboard contents: </label> <input type="text" id="change_clipboard"></p>
<p id="status"></p>
<p id="inst">Instructions: Click any host-name to copy the clipboard from that source. You can use the textbox to change the server's clipboard.</p>
<script>

  const isTouchDevice = () => {
      return (('ontouchstart' in window) ||
	      (navigator.maxTouchPoints > 0) ||
	      (navigator.msMaxTouchPoints > 0));
  }

  function iosCopyToClipboard(event) {
      let id = event.target.innerText;
      let el = document.getElementById(id);  
      
      var oldContentEditable = el.contentEditable,
          oldReadOnly = el.readOnly,
          range = document.createRange();

      el.contentEditable = true;
      el.readOnly = false;
      range.selectNodeContents(el);

      var s = window.getSelection();
      s.removeAllRanges();
      s.addRange(range);
      
      el.setSelectionRange(0, 999999); 
      
      el.contentEditable = oldContentEditable;
      el.readOnly = oldReadOnly;
      
      document.execCommand('copy');
      
      displayStatusMessage(statusText, "Successfully copied contents of " + id + " to clipboard!");   
  }

  function copy_contents_to_clipboard(event) {      
      let id = event.target.innerText;
      let contents = document.getElementById(id).innerText;      
      navigator.clipboard.writeText(contents).then(function() {
	  var statusText = document.getElementById("status");          
	  displayStatusMessage(statusText, "Successfully copied contents of " + id + " to clipboard!");          
      });
  }

  function displayStatusMessage(element, message) {
      element.style.display = 'block';
      element.innerText = message;
      setTimeout(function() {
	  element.style.display = 'none';
      }, 2000);
  }

  function show_contents(event) {
      let id = event.target.innerText;
      document.getElementById(id).hidden = false;
  }

  function hide_contents(event) {
      let id = event.target.innerText;
      document.getElementById(id).hidden = true;
  }
  
  function change_clipboard(event) {
      var new_content = document.getElementById("change_clipboard").value;
      var data = {text: new_content};
      var statusText = document.getElementById("status");

      fetch("/api/set_clipboard/Server%20Clipboard", {
	  headers: { "Content-Type": "application/json",
		     'Access-Control-Allow-Origin': 'http://localhost:8000/' },
	  body: JSON.stringify(data),
	  method: "POST"
      }).then(function() {
	  var server_clipboard = document.getElementById("Server Clipboard");
	  server_clipboard.innerText = new_content;
	  displayStatusMessage(statusText, "Server clipboard changed!");          
      }).catch(function(error) {		
	  statusText.innerText = error;
	  var elem = document.getElementById("change_clipboard");
	  elem.disabled = true;                  
      });           
  }
  
  document.getElementById("change_clipboard").addEventListener("change", change_clipboard);
  var hostname_titles = document.getElementsByClassName("hostname-title");

  if(isTouchDevice()) {
      var all_contents = document.getElementsByClassName("clipboard-contents");
      for(content of all_contents) {
	  content.hidden = false;
      }
  }
  
  for(title of hostname_titles) {
      if(!isTouchDevice()) {
	  title.addEventListener("click", copy_contents_to_clipboard);      
	  title.addEventListener("pointerenter", show_contents);
	  title.addEventListener("pointerleave", hide_contents);
      } else {
	  title.addEventListener("click", iosCopyToClipboard);
      }
  }

  setTimeout(function() {
      document.getElementById("inst").style.display = 'none';
  }, 2000);
  

  
  
</script>
</body>
</html>
